<a href="{{ path('logout') }}">disconnect</a>


<br>
<table>
    <form action="{{ path('SearchClient_ClientProfile') }}" method="post">
    <tr><td>Societe du client</td></tr>
    <tr><td><a href="{{ path('UpdateClient_ClientProfile', {'id': client.id}) }}">{{ client.clientCompany }}</a></td></tr>
    <tr>
        <td>TPE</td>
        <td>Clef</td>
        <td>Date début de validitée</td>
        <td>Date fin de validitée</td>
        <td>Active</td>
    </tr>
    {% for tpe in tpes %}
        <tr>
        <td><a href="{{ path('UpdateTpe_TpeProfile', {'id': tpe.id}) }}">{{ tpe.tpeNum }}</a></td>
        {% set id = tpe.id %}
        {% if keys( id ) %}            {# Twig extension: keyManager\keyBundle\Twig\Extension\querykeytableExtension.php #}
            {% for key in keys(id) %}
            <td><a href="{{ path('UpdateKey_ClefProfile', {'id': key.id}) }}">{{ key.keyName }}</a></td>
            <td>{{ key.startDate }}</td>
            <td>{{ key.endDate }}</td>
            {% if key.keyValid == 1 %}
                <td><input type="checkbox" name="checkbox[]" value='{{ key.id }}' checked ></td>
            {% else %}
                <td><input type="checkbox" name="checkbox[]" value='{{ key.id }}' ></td>
            {% endif %}
            {% endfor %}
        {% else %}
            <td>Ce TPE n\'a pas de clef<br/></td>
            <td></td>
            <td></td>
            <td><a href="{{ path('AddKey_ClefProfile') }}">ajouter une clef</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    <tr>
        <td><a href="{{ path('AddTpe_TpeProfile', {'id':client.id}) }}">ajouter un TPE</a></td>
        <td></td>
        <td></td>
        <td></td>
        <input type="hidden" name="idC" value='client.id'>
        <td><button type="submit" name="valid">Activer/desactiver clef(s)</button> </td>
    </tr>
</form>
</table>